.education {
    padding: 5px;
    margin: 5px;
    border: 1px solid #14213d;
    background-color: #14213d;
    color: #e5e5e5;
    padding-bottom: 20px;
}
#cont-education{
    width: 100%;
}

.section-1 {
    background-color: #14213d;
    color: #e5e5e5;
    padding-top: 56px;
    padding-bottom: 10px;
}

.section-2 {
    background-color: #e5e5e5;
    color: #14213d;
    padding-top: 56px;
    padding-bottom: 10px;
}

.navbar {
    background-color: #14213d;
}

.navbar-brand, .nav-link {
    color: #e5e5e5 !important;
}

.navbar-toggler, .navbar-toggler-icon {
    color: #fca311 !important;
    border-color: #fca311 !important;
}

.btn-add {
    border-color: #fca311;
    background-color: #fca311;
    color: #14213d;
    margin-left: 10px;
}

.btn-add:hover {
    color: #fca311;
    background-color: #14213d;
}

.close {
    color: #fca311;
}

.close:hover {
    color: #fca311;
}